$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$quaternary-color: #fa9500;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 3em;

@mixin flexCenter($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin buttonStyle {
  button {
    background: none;
    border-style: none;
    cursor: pointer;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  nav {
    padding: 20px 65px 20px 65px;
  }
}

nav {
  @include flexCenter(row, space-between, center);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $primary-color;
  width: 100%;
  height: 90px;
  color: $primary-text-color;
  padding: 15px;
  margin-bottom: 75px;
  p {
    font-size: 3rem;
    vertical-align: middle;
    padding-left: 30px;
  }
  .icons {
    display: flex;
    gap: 40px;
    @include buttonStyle;
  }
  .icons-mobile {
    display: none;
  }
}
main {
  padding: 0 65px 0 65px;
  article {
    color: $primary-text-color;
    display: flex;
    padding-bottom: 130px;
    .impact-section {
      width: 50%;
      animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    @keyframes slide-in-left {
      0% {
        transform: translateX(-1000px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    h1 {
      font-size: 6rem;
      margin: 61px 0;
    }
    p {
      font-size: 2.5rem;
      margin-bottom: 109px;
    }
    @include buttonStyle;
    button {
      background-color: $quaternary-color;
      width: 260px;
      height: 65px;
      border-radius: 35px;
      color: white;
      font-size: 2.3rem;
      &:hover {
        transform: scale(1.1);
      }
    }

    .image-section {
      width: 50%;
      padding-left: 164px;
      animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @keyframes slide-in-right {
      0% {
        transform: translateX(1000px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 19px;
    }
  }
}
section {
  h2 {
    color: $primary-text-color;
    font-size: 5rem;
  }
  .healthcare {
    h2 {
      font-weight: 400;
      padding-bottom: 60px;
    }
    .card-section {
      @include flexCenter(row, space-around, center);
      flex-wrap: wrap;
      gap: 20px;
    }
    .product-card {
      width: 324px;
      height: 502px;
      background-color: $secondary-color;
      color: $primary-text-color;
      padding: 20px 21px 0 21px;
      margin-bottom: 75px;
      border-radius: 8px;
      .icon {
        width: 100%;
        @include flexCenter(row, space-evenly, flex-end);
      }
      .product-image {
        @include flexCenter(row, center, center);
        padding: 37px 20px 0 20px;
        img {
          width: 242px;
          height: 300px;
          object-fit: cover;
          border-radius: 7px;
        }
      }
      .product-inf {
        padding: 17px 20px 0 20px;
        h3 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
  .furniture {
    @extend .healthcare;
    .product-card {
      background-color: $tertiary-color;
      color: white;
    }
  }
}

.about-us {
  @extend .healthcare;
  padding-bottom: 235px;
  h2 {
    font-weight: 500;
    font-size: 5rem;
    margin-bottom: 162px;
  }
  .mission-section {
    @include flexCenter(row, space-between, center);
    gap: 20px;
    .earth {
      display: flex;
      flex-direction: row;
      width: 50%;
      img {
        object-fit: contain;
        width: 150px;
        height: 150px;
      }
      p {
        color: #b54215;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
      }
    }
  }
  .innovation {
    @extend .earth;
  }
}
.gallery {
  h2 {
    font-size: 50px;
    font-weight: 500;
  }
  .gallery-images {
    @include flexCenter(row, space-between, center);
    padding: 67px 0 113px 0;
    gap: 20px;
    img {
      width: 31%;
      aspect-ratio: 4 / 5;
      object-fit: cover;
      border-radius: 16px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.location {
  color: #e86424;
  h2 {
    font-size: 50px;
    font-weight: 500;
  }
  .map {
    @include flexCenter(row, center, center);
    padding: 67px 0 50px 0;
    width: 100%;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
  h3 {
    font-size: 30px;
    font-weight: 400;
  }
  p {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 124px;
  }
}
footer {
  background-color: $quaternary-color;
  width: 100%;
  height: auto;
  padding: 43px 65px 65px 65px;
  color: white;

  h4 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 37px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 21px;
  }

  .social-media {
    @include flexCenter(row, center, center);
    gap: 35px;

    img {
      width: 41px;
      height: 41px;
    }
  }
}

//AQUI EMPIEZAN MEDIA QUERYS

@media (max-width: 1080px) {
  main {
    article {
      .image-section {
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 980px) {
  main {
    section {
      .about-us {
        padding-bottom: 41px;
        h2 {
          margin-bottom: 52px;
        }
        .mission-section {
          @include flexCenter(column);
          gap: 65px;
          .earth {
            @include flexCenter(column, center, center);
            width: 50%;
            img {
              width: 90px;
              height: 90px;
            }
            p {
              font-size: 1.6rem;
            }
          }
          .innovation {
            @extend .earth;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  main {
    article {
      padding-bottom: 70px;
      .impact-section {
        h1 {
          font-size: 2.8rem;
        }
        p {
          font-size: 1.2rem;
        }
        button {
          font-size: 1.3rem;
        }
      }
    }
    section {
      .gallery {
        h2 {
          font-size: 22px;
        }
      }
      .healthcare {
        h2 {
          font-size: 2.2rem;
          padding: 31px 0;
        }
        .card-section {
          width: 100%;
          display: grid;
          grid-auto-flow: column;
          overflow-x: scroll;
          justify-content: initial;
          gap: 10px;
        }
        ::-webkit-scrollbar {
          height: 14px;
        }
        ::-webkit-scrollbar-thumb {
          background-color: #fa9500;
          border-radius: 8px;
        }
        .product-card {
          width: 178px;
          height: 320px;
          padding: 10px 11px 0 11px;
          margin-bottom: 10px;
          .product-image {
            padding: 15px 5px 0 5px;
            img {
              width: 100%;
              height: 164px;
            }
          }
          .product-inf {
            padding: 9px 6px 0 6px;
            h3 {
              font-size: 1.6rem;
              margin-bottom: 4px;
            }
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
      .location {
        h2 {
          font-size: 22px;
          font-weight: 500;
        }
        h3 {
          font-size: 20px;
          font-weight: 400;
        }
        p {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}
footer {
  padding: 20px 22.5px 25px 22.5px;
  h4 {
    font-size: 21px;
    font-weight: 500;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
  .social-media {
    padding-top: 10px;
    img {
      width: 33px;
      height: 33px;
    }
    @include flexCenter(row, start, center);
  }
}

@media (max-width: 700px) {
  nav {
    height: 35px;
    padding: 0;
    margin-bottom: 27px;
    p {
      font-size: 2rem;
    }
    .icons {
      display: none;
    }
    .icons-mobile {
      display: flex;
      width: 32px;
      height: 32px;
      filter: grayscale(80%) invert(500%) sepia(90%) saturate(70041%)
        hue-rotate(330deg) brightness(50%) contrast(100%);
    }
  }
  main {
    padding: 25px 22.5px;
    article {
      display: grid;
      .impact-section {
        width: 100%;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        h1 {
          font-size: 2.8rem;
          margin: 11px 0 19px 0;
        }
        p {
          font-size: 1.2rem;
          margin-bottom: 18px;
        }
        button {
          width: 150px;
          height: 42px;
          font-size: 1.3rem;
        }
      }
      .image-section {
        width: 100%;
        grid-row: 1 / 2;
        padding: 0;
      }
    }
    section {
      .gallery {
        .gallery-images {
          @include flexCenter(column, center, center);
          gap: 64px;
          img {
            width: 80%;
            aspect-ratio: 1 / 1;
          }
        }
      }
    }
  }
}
